*{font-family: fantasy; text-align: center; max-width: 500px;
    margin: auto;}
.Header{font-size: 150 px; color: red; }
.footer{font-size: 15px}
.content{font-size: 20px}
.Nav {font-size: 20px; color: purple;background-color: papayawhip}
.aside {font: size 10px; }
