#tabla {
  width: 500px;
  margin: 0 auto;
}
html *
{
   font-size: 14 !important;
      font-family: Comic sans MS !important;
}

/*header { background-color: 0ceef9 ;}
footer { background-color: red;}
aside {  background-color: 03fe8c ;}
nav {  background-color: 03fe8c ;}
Corresponde al ejericico anterior*/
.Headers {font-size: 46 !important; background-color: magenta}
.footer {font-size: 10 !important;background-color: magenta}
.content {font-size: 14 !important;}
.Nav {font-size: 12 !important;background-color: blue; color: 000000}
.aside {font-size: 10 !important;background-color: blue}
